* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif, Arial, "Franklin Gothic Medium", "Arial Narrow";
  color: #fff;
}
html,
body {
  height: 100%;
  width: 100%;
  background: url(./background.png);
}
#main {
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#main > h1 {
  font-size: 48px;
  display: flex;
  align-items: center;
}

#main > h1 span {
  margin: 0 15px;
  display: flex;
  align-items: center;
}

#main > h1 span img {
  rotate: 90deg;
  height: 40px;
  transition: 0.4s ease;
}

#main > #endec-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #222;
  padding: 15px 20px;
  width: auto;
  margin: 35px 0;
  border-radius: 10px;
}

#main > #endec-div h3 {
  font-size: 17px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  padding: 12px 12px;
  transform: 0.2s ease;
}

#enc-btn {
  background-color: #333;
}

#endec-div h3 span {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
#endec-div h3 span img {
  height: 20px;
}

#encryption {
  width: 55%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
}

#encryption h5 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 13px;
  color: #6e6e6e;
}

#encryption textarea {
  width: 100%;
  border: 1px solid #343434;
  padding: 10px;
  border-radius: 8px;
  font-size: 17px;
  margin-bottom: 50px;
  resize: none;
  outline: none;
  background-color: #1c1c1c;
}
#encryption input {
  width: 100%;
  border: 1px solid #343434;
  padding: 10px;
  border-radius: 8px;
  font-size: 17px;
  outline: none;
  margin-bottom: 50px;
  background-color: #1c1c1c;
}

#encryption button {
  display: flex;
  align-items: center;
  color: #6e6e6e;
  background-color: #1c1c1c;
  border: none;
  width: 100%;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  color: #eee;
  font-size: 17px;
  cursor: pointer;
}
button span {
  display: flex;
  margin-right: 10px;
}
button span {
  display: flex;
  margin-right: 10px;
}
button img {
  height: 20px;
}
#footer img {
  height: 20px;
  padding-left: 10px;
  padding-top: 2px;
}
#decryption {
  width: 55%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  display: none;
}

#decryption h5 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 13px;
  color: #6e6e6e;
}

#decryption textarea {
  width: 100%;
  border: 1px solid #343434;
  padding: 10px;
  border-radius: 8px;
  font-size: 17px;
  resize: none;
  margin-bottom: 50px;
  outline: none;
  background-color: #1c1c1c;
}
#decryption input {
  width: 100%;
  border: 1px solid #343434;
  padding: 10px;
  border-radius: 8px;
  font-size: 17px;
  outline: none;
  margin-bottom: 50px;
  background-color: #1c1c1c;
}

#decryption button {
  display: flex;
  align-items: center;
  color: #6e6e6e;
  background-color: #1c1c1c;
  border: none;
  width: 100%;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  color: #eee;
  font-size: 17px;
  cursor: pointer;
}

#result {
  padding: 20px;
  border-radius: 10px;
  font-size: 18px;
  background-color: #1c1c1c;
  border: 1px solid #343434;
  width: 30%;
  display: none;
  margin-top: 40px;
}

#footer {
  text-align: center;
  margin: 40px 0px 0px 0px;
}
#footer a {
  text-decoration: none;
}
@media (max-width: 500px) {
  #main > h1 {
    font-size: 40px;
  }
  #main > #endec-div {
    padding: 10px 10px;
    margin: 30px 0;
  }

  #encryption textarea {
    width: 100%;
  }

  #decryption textarea {
    width: 100%;
  }
  #result {
    width: 80%;
  }
  #encryption {
    width: 85%;
  }
  #decryption {
    width: 85%;
  }
}
